* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    border: 0px solid red;
    width: 2000px;
}

.block-1 {
    background: url(../img/tlo_2.png) no-repeat center top / cover;
}

.block-2 {
    background: url(../img/tlo_2.png) no-repeat center top / cover;
}

.block-3 {
    background: url(../img/tlo_2.png) no-repeat center top / cover;
}

/* --- Button 1 --- */

  a.button1 {
    position: absolute;
    top: 121px;
    left: 1655px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: 0px solid red;
  }

  a.button1:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
  }

/* --- Button 2 --- */

  a.button2 {
    position: absolute;
    top: 112px;
    left: 1543px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: 0px solid red;
  }

  a.button2:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
  }

/* --- Button 3 --- */

  a.button3 {
    position: absolute;
    top: 132px;
    left: 1363px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: 0px solid red;
  }

  a.button3:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
  }


